:root {
  --black-pearl: #051622; 
  /* black pearl */

  --astronaut-blue: #0e3b5b;
  /* lightest-navy */

  --white: #fff;
  /* slate */
  /* lightest-slate */

  --eastern-blue: #1BA098;
  /* green-bright */
}
